#work-experience .container {
  /* padding: 0 14px; */
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 14px;
}

.company-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.time {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 0px 0px;
  width: 1000px;
  box-sizing: border-box;
}

.timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #c5c5c5;
}

.timeline ul {
  margin: 0;
  padding: 0;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}

.content {
  padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 24px;
  right: -6px;
  width: 10px;
  height: 10px;
  background: rgba(233, 33, 99, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 1);
}

.timeline ul li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 24px;
  left: -4px;
  width: 10px;
  height: 10px;
  background: rgba(233, 33, 99, 1);
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 1);
}

.timeline ul li h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: rgba(233, 33, 99, 1);
}

.timeline ul li p {
  margin: 10px 0 0;
  padding: 0;
}

.timeline ul li .time h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
  position: absolute;
  top: 12px;
  right: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(233, 33, 99, 1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline ul li:nth-child(even) .time {
  position: absolute;
  top: 12px;
  left: -165px;
  margin: 0;
  padding: 8px 16px;
  background: rgba(233, 33, 99, 1);
  color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

h1 {
  text-align: center;
  font-size: 60px;
}

/* responsive */
@media (max-width: 1000px) {
  .timeline {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    text-align: center;
    font-size: 40px;
  }
  .timeline {
    width: 100%;
    padding-bottom: 0;
  }
  .timeline:before {
    left: 20px;
    height: 105%;
  }

  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    width: 100%;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
  }

  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before {
    top: -18px;
    left: 3px;
  }

  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    top: -30px;
    left: 50px;
    right: inherit;
  }
}

@media only screen and (max-width: 450px) {
  .timeline:before {
    left: 20px;
    height: 102%;
  }

  .timeline ul li:nth-child(odd) {
    padding-right: 0;
  }

  .timeline ul li:nth-child(even) {
    padding-right: 0;
  }
}
